    /* Variables */

    // colors
    $white: #FFF;
    $blue-dark: #002d62;
    $blue-normal: #006ae7;
    $blue-active: #0c4c9d;
    $blue-hover: #0c3a74; //button
    $blue-lite: #8cd5ff;
    $orange: #e29838;
    $orange-hover: #e26c38;
    $black: #262626;

    $red: #e29838; // fonts
    $font_family: 'Rubik', sans-serif; // sizes window
    $mobile_p: 480px;
    $mobile_l: 767px;
    $tablets: 1024px;
    $desctops_s: 1280px; 
    $desctops_b: 1920px; 
    // animation start
    $skills-start-anim:0.8;